<a href="https://colab.research.google.com/github/kjslei/AI-python/blob/main/2025_03_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

첫 번째 정수를 입력하세요: 5
두 번째 정수를 입력하세요: 6

In [8]:
if num1 > num2:
  print(num1,"은(는)",num2,"보다 큽니다.")
elif num1 < num2:
  print(num1,"은(는)",num2,"보다 작습니다.")
else:
  print(num1,"은(는)",num2,"와 같습니다..")

5 은(는) 6 보다 작습니다.

In [ ]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
print(f"첫 번째 수: {num1}")
num2 = int(input("두 번째 정수를 입력하세요: "))
print(f"두 번째 수: {num2}")
num3 = int(input("세 번째 정수를 입력하세요: "))
print(f"세 번째 수: {num3}")
max_num = num1
a=1
if max_num<num2:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num=num2
  a=2
else:
  print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")
if num3 > max_num:
  print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num=num3
  a=3
else:
  print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")
print(f"입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는{a}번째 정수인 {max_num}입니다.")

In [ ]:
try:
  score=int(input("시험 점수를 입력하세요: "))
except ValueError:
  print("유효한 정수를 입력하세요.")

if score < 0 or score > 100:
  print("유효한 점수를 입력하세요")
else:
  if score > 89:
    grade='A'
  elif score > 79:
    grade='B'
  elif score > 69:
    grade='C'
  elif score > 59:
    grade='D'
  else:
    grade='F'
  print(f"당신의 학점은 {grade} 입니다.")

In [ ]:
year=int(input("연도를 입력하세요: "))
a=year%4
b=year%100
c=year%400
if (a==0 and b != 0) or (c==0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

In [ ]:
for i in range(1,6):
  print(i)

In [ ]:
for i in range(5):
  print(i+1)

In [35]:
for i in ["A","B",2,3,4,5]:
  print(i)

A
B
2
3
4
5

In [39]:
n=int(input("N 의 값을 지정해주세요: "))
count=0
sum=0
for i in range(n):
  sum=sum+1+i
print(sum)

N 의 값을 지정해주세요: 100
5050

In [ ]:
count=0
print("0~9를 출력: ")
while count<10:
  print(count)
  count+=1
print("while 루프종료")

In [43]:
print("0~9를 출력: ")
for i in range(10):
  print(i)
print("for 루프종료")

0~9를 출력:
0
1
2
3
4
5
6
7
8
9
for 루프종료